@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-light {
  --tw-bg-opacity: 1;
  background-color: rgb(153 255 148 / var(--tw-bg-opacity, 1));
}

.bg-green-solid {
  --tw-bg-opacity: 1;
  background-color: rgb(128 182 136 / var(--tw-bg-opacity, 1));
}

.forest-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/forest-bg.jpg");
  background-size: cover;
  background-position: center;
}
.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.writing-mode-vertical {
  writing-mode: horizontal-tb;
  text-orientation: upright;
}
.w-2\/10 {
  width: 20%;
}
.w-1\/10 {
  width: 10%;
}
.services-swiper {
  overflow: visible !important;
}
.services-swiper .swiper-slide {
  height: auto !important;
  width: auto !important;
}
.text-muted-foreground {
  color: rgb(107 114 128);
}

.fade-overlay {
  background: linear-gradient(to left, white, transparent);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.circleg {
  position: absolute;
  border-radius: 50%;
  transition: all 5s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slide-in {
  animation: slideIn 0.3s forwards;
}
.slide-out {
  animation: slideOut 0.3s forwards;
}

img {
  loading: lazy;
}

.gradient-blur {
  background: radial-gradient(circle at top right, #9efa82 0%, transparent 75%);
  filter: blur(50px);
  opacity: 0.4;
  transform: rotate(-15deg);
}

.shine-effect {
  background: radial-gradient(
    ellipse at top right,
    rgba(158, 250, 130, 0.3) 0%,
    transparent 70%
  );
  filter: blur(30px);
  transform: rotate(-45deg);
}
